@import "../../assets/styles/variables.scss";

.wrapper {
  min-height: 100svh;
  display: flex;
}

.header {
  height: clamp(30px, 4.8vw, 68px);
}

.content {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  overflow-wrap: break-word;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: $colorWhiteAndBlueHover;
    flex: 1 1 auto;
    // margin-top: clamp(30px, 4.8vw, 68px);
    border-top: 1px solid $colorBorder;
  }

  &__section {
    margin: clamp(15px, 2vw, 20px);
    background-color: $colorWhite;
    flex: 1 1 auto;
    border-radius: 6px;
    padding: 20px;
    border-right: 1px solid $colorBorder;
  }
}

.aside {
  width: clamp(25px, 4vw, 62px);
  border-right: 1px solid $colorBorder;
  transition: all 0.2s ease-out;
}
